@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Reset e fonte */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/* Estilização do corpo */
body {
    background-color: #8a2be2; /* Roxo mais claro */
}

/* Seção principal */
section {
    height: 100vh;
    display: flex;
    background-image: url("../img/tech.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #1e3a3a; /* Verde escuro acinzentado */
    border: 5px solid #8a2be2;
}

/* Cabeçalho */
.header {
    background-color: #9370db; /* Tom mais claro de roxo */
    background: linear-gradient(to right, #8a2be2, #ba55d3);
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilização do título */
.title h1.title,
.header h1 {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Container do chat */
.container-chat {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Caixa de chat */
.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 10px solid #8a2be2;
    border-radius: 8px;
    margin: 1rem;
    height: 28rem;
    width: 60vw;
    background: linear-gradient(to bottom, #9370db, #ba55d3);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/* Div container button */
.container-button {
    border-top: 5px solid #8a2be2;
}

/* Caixa de mensagens */
.chat-box {
    padding: 1rem;
    overflow: auto;
    border-bottom: 2px solid #ba55d3;
}

/* Autor da mensagem */
.author {
    font-weight: 700;
    color: rgb(12, 12, 12);
    border-bottom: 1px solid rgb(226, 208, 208);
}

/* Mensagem */
.chat-message {
    color: rgb(255, 255, 255);
}

/* Data da mensagem */
.chat-date {
    font-size: 0.8rem;
    color: rgb(1, 1, 1);
}

/* Input do chat */
.chat-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-top: 2px solid #ba55d3;
    border-radius: 8px;
}

/* Campo de input */
input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    background-color: #9370db;
    color: white;
    line-height: normal;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.input-message {
    border-top: 5px solid #8a2be2;
    line-height: normal;
}

/* Botão de enviar */
.btn-form {
    width: 12rem;
    padding: 0.5rem;
    border: 1px solid #007acc;
    background-color: #007acc;
    color: white;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.btn-form:hover {
    background-color: #005fa3;
}

/* Rodapé */
.footer {
    background-color: #9370db;
    width: 100%;
    color: #fff;
}

/* CORES DO PLAYER */
.player {
    background-color: #9370db;

    .logo-player {
        background-color: #9370db;
    }

    .progress-bar {
        background-color: #8a2be2;
    }

    .input[type="range"]::-webkit-slider-thumb {
        background-color: #8a2be2; /* Cor do botão */
    }
    input[type="range"]::-webkit-slider-runnable-track {
        background-color: rgb(232, 152, 211); /* Cor da barra */
    }
}

/* Media Queries para Responsividade */
@media (max-width: 1200px) {
    .chat {
        width: 60vw;
        height: 28rem;
    }

    .header h1,
    .title h1.title {
        font-size: 2rem;
    }

    .btn-form {
        width: 10rem;
    }
}

@media (max-width: 768px) {
    .chat {
        width: 70vw;
        height: 25rem;
    }

    .header {
        height: 2.5rem;
    }

    .header h1,
    .title h1.title {
        font-size: 1.5rem;
    }

    .btn-form {
        width: 8rem;
    }
}

@media (max-width: 480px) {
    .chat {
        width: 100%;
    }

    .header h1,
    .title h1.title {
        font-size: 1.2rem;
    }

    input {
        padding: 0.3rem;
        font-size: 0.9rem;
    }

    .btn-form {
        width: 6rem;
        padding: 0.3rem;
    }
}
