@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Cores personalizadas */
$bg-color: #b2000b;
$font-color: #ff0011;
$font-secondary: #32cd32;
$font-tertiary: #98fb98;
$font-quaternary: #ffb6c1;
$text-primary: #f9f9f9;
$text-secondary: #000;

.chat-box {
    .delete-all {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5rem;
        .btn-delete-all {
            padding: 0.5rem;
            border: 1px solid $font-color;
            border-radius: 0.5rem;
            background-color: $font-color;
            opacity: 0.8;
            color: $text-primary;
            font-weight: bold;
            transition: background-color 0.25s, color 0.25s;

            &:hover {
                background-color: #ffb6c1;
                color: $font-color;
                cursor: pointer;
            }
        }
    }
}
.chat-message {
    padding: 1rem;
    border: 1px solid $bg-color;
    border-radius: 1rem;
    margin: 1rem;

    .chat-delete {
        display: flex;
        justify-content: center;
        padding: 0.2rem;
    }

    .delete-button {
        width: 4rem;
        padding: 0.3rem;
        cursor: pointer;
        color: $font-color;
        border: 1px solid $font-color;
        border-radius: 0.5rem;
        transition: background-color 0.25s;
        outline: none;

        &:hover {
            background-color: $font-quaternary;
        }
        &:focus-within {
            border: 1px solid $font-color;
        }
    }

    .author {
        font-weight: bold;
        color: $text-secondary;
        padding: 0.2rem;
    }

    .chat-message-content {
        padding: 0.2rem;
    }

    .chat-date {
        font-size: 0.8rem;
        color: $text-secondary;
        padding: 0.2rem;
    }
}
