.main-container {
    display: flex;
    height: 46.8em;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: var(--dsm-bg-color-senary);
    width: 100%;
}

.card-container {
    background-color: var(--dsm-bg-color-quaternary);
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 7);
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.form-container {
    display: grid;
    grid-gap: 20px;
}

.text-logo {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

.cursor-container {
    height: 40px;
    display: flex;
}

.input-box {
    width: 100%;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid var(--dsm-border-color-secundary);
    border-left: none;
    border-right: none;
}

.input-box1 {
    width: 10px;
    background-color: var(--dsm-bg-color-secondary);
    border-radius: 10px 0 0 10px;
    border: 1px solid var(--dsm-border-color-secundary);
    border-right: none;
}

.input-box2 {
    width: 10px;
    background-color: var(--dsm-bg-color-secondary);
    border-radius: 0 10px 10px 0;
    border: 1px solid var(--dsm-border-color-secundary);
    border-left: none;
}

.input-box button {
    width: 40px;
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.input-box::placeholder {
    color: var(--dsm-font-color-secundary);
    font-size: 14px;
}

.input-box:focus {
    outline: none;
}

.btn-enter {
    width: 100%;
    height: 40px;
    padding: 10px 0;
    color: var(--dsm-font-color-primary);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

.btn-white {
    margin-top: 20px;
    background-color: var(--dsm-bg-color-secondary);
    color: var(--dsm-font-color-tertiary);
    border: 1px solid var(--dsm-font-color-tertiary);
}

.btn-red {
    background-color: var(--dsm-font-color-tertiary);
}

/* TELA CRUD PUBLICATION */

.crud-textarea {
    height: 250px;
}

.textarea {
    resize: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--dsm-border-color-secundary);
    border-left: none;
    border-right: none;
}

.input-file {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* TELA CRUD HORARIO */

.select-horario {
    border-bottom: 1px solid var(--dsm-border-color-secundary);
    border-top: 1px solid var(--dsm-border-color-secundary);
    border-left: none;
    border-right: none;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
}

.select-horario:focus {
    outline: none;
}

.custom-file-upload {
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
    background-color: var(--dsm-bg-color-secondary);
    color: var(--dsm-font-color-secundary);
    border: none;
    overflow: hidden;
    border-top: 1px solid var(--dsm-border-color-secundary);
    border-bottom: 1px solid var(--dsm-border-color-secundary);
}



@media (min-width: 576px) {

    .card-container {
        width: 500px;
    }

    .cursor-container {
        height: 45px;
    }

    .btn-enter {
        height: 45px;
        font-size: 16px;
    }

    .text-logo {
        font-size: 32px;
    }

    .crud-textarea {
        height: 300px;
    }

    .textarea {
        padding: 20px 10px;
    }

    .custom-file-upload {
        padding: 10.5px;
    }

    .input-box::placeholder {
        font-size: 16px;
    }

    .select-horario {
        padding: 5px;
        font-size: 16px;
    }
}
