@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Cores personalizadas */
/* Reset e fonte */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* Estilização do corpo */
body {
  background-color: #e0f7fa; /* Azul muito claro */
}

/* Seção principal */
section {
  height: 100vh;
  display: flex;
  background-image: url("../img/geral.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #004d40;
  border: 5px solid #004d40;
}

/* Cabeçalho */
.header {
  width: 100%;
  height: 3rem;
  background: linear-gradient(to right, #00bfa5, #00796b);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilização do título */
.title h1.title,
.header h1 {
  text-align: center;
  color: #ffffff;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Container do chat */
.container-chat {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Caixa de chat */
.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  height: 28rem;
  font-size: 1rem;
  width: 60vw;
  background: linear-gradient(to bottom, #00bfa5, #00796b);
  border: 10px solid #004d40;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px; /* Bordas arredondadas */
}

/* Div container button */
.container-button {
  border-top: 5px solid #004d40;
}

/* Caixa de mensagens */
.chat-box {
  padding: 1rem;
  overflow: auto;
  border-bottom: 2px solid #00796b;
}

/* Autor da mensagem */
.author {
  font-weight: 700;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

/* Mensagem */
.chat-message {
  color: #ffffff;
}

/* Data da mensagem */
.chat-date {
  font-size: 0.8rem;
  color: #ffffff;
}

/* Input do chat */
.chat-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: 2px solid #00796b;
}

/* Campo de input */
input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  background-color: #004d40;
  color: #ffffff;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 4px; /* Bordas arredondadas no campo de input */
}

/* Botão de enviar */
.btn-form {
  width: 12rem;
  padding: 0.5rem;
  border: 1px solid #00796b;
  background-color: #00796b;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  transition: background-color 0.2s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.btn-form:hover {
  background-color: #005662;
  cursor: pointer;
}

/* Rodapé */
.footer {
  background: linear-gradient(to right, #00bfa5, #00796b);
  width: 100%;
  color: #ffffff;
}

/* CORES DO PLAYER */
.player {
  background-color: #00bfa5;
}
.player .logo-player {
  background-color: #00bfa5;
}
.player .progress-bar {
  background-color: #00796b;
}
.player .input[type=range]::-webkit-slider-thumb {
  background-color: #00796b; /* Cor do botão */
}
.player input[type=range]::-webkit-slider-runnable-track {
  background-color: rgb(180, 244, 180); /* Cor da barra */
}

/* Media queries para responsividade */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .chat {
    width: 60vw;
    height: 26rem;
  }
  .header h1,
  .title h1.title {
    font-size: 2rem;
  }
  .btn-form {
    width: 10rem;
  }
}
@media (max-width: 768px) {
  .chat {
    width: 70vw;
    height: 25rem;
  }
  .header {
    position: fixed;
    top: 0;
    height: 2.5rem;
  }
  .footer {
    position: fixed;
    bottom: 0;
  }
  .header h1,
  .title h1.title {
    font-size: 1.5rem;
  }
  .btn-form {
    width: 8rem;
  }
}
@media (max-width: 480px) {
  .chat {
    width: 100%;
  }
  .header h1,
  .title h1.title {
    font-size: 1.2rem;
  }
  input {
    padding: 0.3rem;
    font-size: 0.9rem;
  }
  .btn-form {
    width: 6rem;
    padding: 0.3rem;
  }
}

/*# sourceMappingURL=chat.css.map */
