.footer-container {
    width: 100%;
    padding: 40px 0;
    background-color: var(--dsm-bg-color-primary);
    color: var(--dsm-font-color-primary);
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    z-index: 1000;
}

.footer-card {
    font-size: 12px;
    text-align: center;
    padding: 0 40px;
    width: 100%;
}

.footer-card h3 {
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--dsm-font-color-primary);
}

.ft-card2 {
    margin: 5px 0 20px 0;
}

.ft-card2 li {
    list-style: none;
}

.social-network {
    align-items: center;
    margin-bottom: 20px;
}

.social-network a:nth-of-type(2) img {
    margin: 0 10px;
}

.social-network img {
    width: 35px;
    height: 35px;
    color: var(--dsm-font-color-primary);
}

.social-network img:hover {
    transform: scale(1.1);
}

.site-fatec:hover {
    transform: scale(1.1);
}

.fatec-about {
    margin-bottom: 20px;
}

.fatec-about h3{
    margin-top: 10px;
}

.fatec-about a {
    text-decoration: none;
    color: var(--dsm-font-color-primary);
}

.fatec-location {
    border-radius: 10px;
    margin-bottom: 20px;
    justify-content: center;
    width: 100%;
}

.ft-card3 img {
    max-width: 200px;
    width: 100%;
}

@media(min-width: 576px) {
    .footer-card h3 {
        font-size: 16px;
    }

    .ft-card2 li {
        font-size: 14px;
    }

    .fatec-about {
        font-size: 14px;
    }

    .fatec-location {
        height: 300px;
    }

    .footer-container {
        width: 100%;
    }
}

@media(min-width: 768px) {

    .footer-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-gap: 20px;
    }

    .ft-card2 {
        margin-top: 0;
        margin-bottom: 36px;
    }

    .fatec-location {
        width: 185px;
        height: 185px;
    }
}

@media(min-width: 992px) {

    .fatec-about h3{
        margin-top: 20px;
    }

    .ft-card2 {
        margin-bottom: 20px;
    }

    .fatec-about {
        margin-bottom: 20px;
    }

    .fatec-location {
        margin-bottom: 0;
        width: 180px;
        height: 180px;
    }

    .ft-card4 {
        display: flex;
        grid-gap: 20px;
        align-items: center;
    }
}

@media(min-width: 1400px) {


    .fatec-location {
        width: 100%;
    }
}
