.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: var(--dsm-bg-color-senary);
    height: 100%;
}

.select-course {
    width: 100%;
    border-radius: 5px;
}
.options{
    text-align: center;
}
.botoes{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.dsm-s1, .dsm-s2,.sn-s1,.sn-s2, .sn-s3, .sn-s4, .sn-s5, .sn-s6
,.cn-s1,.cn-s2,.cn-s3,.cn-s4,.cn-s5,.cn-s6,.gp-s1,.gp-s2,.gp-s3,
.gp-s4,.gp-s5,.gp-s6,.ma-s1,.ma-s2,.ma-s3,.ma-s4,.ma-s5,.ma-s6,
.si-s3,.si-s4,.si-s5,.si-s6{
    display: inline-block;
    padding: 1rem;
    border: 1px solid red;
    font-size: 14px;
    font-weight: bolder;
    background-color: crimson;
    color: lightcyan;
    border-radius: 15px;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}
.dsm-s1:hover,.dsm-s2:hover,.sn-s1:hover,
.sn-s2:hover,.sn-s3:hover,.sn-s4:hover,.sn-s5:hover,.sn-s6:hover,
.cn-s1:hover,.cn-s2:hover,.cn-s3:hover,.cn-s4:hover,.cn-s5:hover,
.cn-s6:hover,.gp-s1:hover,.gp-s2:hover,.gp-s3:hover,.gp-s4:hover,
.gp-s5:hover,.gp-s6:hover,.ma-s1:hover,.ma-s2:hover,.ma-s3:hover,
.ma-s4:hover,.ma-s5:hover,.ma-s6:hover,.si-s3:hover,.si-s4:hover,
.si-s5:hover,.si-s6:hover{
    background-color: coral;
    cursor: pointer;
}

.title{
    margin: 1rem;
}

.table-container h3 {
    margin: 20px 0;
    text-align: center;
}

.main-container h1 {
    margin-bottom: 20px;
    text-align: center;
}

.main-container table {
    border-collapse: collapse;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    cursor: default;
    font-size: 8px;
}

.main-container table thead tr {
    color: var(--dsm-font-color-secundary);
    text-transform: uppercase;
    text-align: center;
    padding: 2%;
}

.main-container table thead th {
    padding: 10px;
}

.main-container table thead tr:first-child td {
    font-weight: bold;
}

.main-container th, td {
    border: 2px solid var(--dsm-border-color-primary);
    padding: 2px;
    text-align: center;
}

.main-container td:nth-child(1) {
    padding: 2px;
    font-weight: bold;
}

.zebra {
    background: var(--dsm-bg-color-quaternary);
}

.trTd-color {
    background: var(--dsm-bg-color-quinary);
    width: 60px;
}

.trTd-width td{
    max-width: 120px;
    padding: 10px;
    letter-spacing: 0.05em;
    line-height: 1.5;
}

.semester-container {
    margin-top: 20px;
    width: 100%;
}

.semester-container h3 {
    margin-bottom: 20px;
    text-align: center;
}

.links {
    display: flex;
    grid-gap: 10px;
    margin-bottom: 20px;
}

.links a {
    font-size: 12px;
    color: var(--dsm-font-color-primary);
    background-color: var(--dsm-bg-color-primary);
    font-weight: bold;
    height: 40px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.links a:hover {
    background-color: var(--dsm-font-color-quaternary);
}

.hidden {
    display: none;
}

.edit-btn {
    width: 30px;
    height: 30px;
    background-color: var(--dsm-bg-color-quinary);
    border-radius: 10px;
    border: 2px solid var(--dsm-border-color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-btn img {
    width: 20px;
}

@media(min-width: 480px) {

    .main-container table {
        font-size: 12px;
    }
    .dsm-s1, .dsm-s2,.sn-s1,.sn-s2, .sn-s3, .sn-s4, .sn-s5, .sn-s6
    ,.cn-s1,.cn-s2,.cn-s3,.cn-s4,.cn-s5,.cn-s6{
    margin-top: 1rem;
    }
}

@media(min-width: 576px) {

    .semester-container h3 {
        font-size: 28px;
    }

    .links a {
        font-size: 16px;
    }
}

@media(min-width: 768px) {

    .table-container h3 {
        font-size: 28px;
    }

    .main-container th, td {
        padding: 8px;
    }

    .main-container td:nth-child(1) {
        padding: 8px;
    }

    .select-course {
        height: 40px;
        font-size: 16px;
    }

    .main-container table {
        font-size: 16px;
    }

    .edit-btn {
        width: 40px;
        height: 40px;
    }

    .edit-btn img {
        width: 30px;
    }
}

@media(min-width: 992px) {

    .main-container table {
        width: 900px;
        height: 200px;
    }

    .select-course {
        font-size: 18px;
    }

    .main-container table {
        font-size: 18px;
    }
}

@media(min-width: 1200px) {

    .main-container table {
        width: 1000px;
    }
}

@media(min-width: 1400px) {

    .main-container table {
        width: 1200px;
        height: 400px;
    }
}
