.p-container {
    margin: 4rem;
}
.info-perfil {
    margin: 2rem;
}
.info-senha {
    margin: 2rem;
}
.i-perfil {
    width: 35%;
    height: 2rem;
}
.i-perfil:focus {
    outline: 1px solid crimson;
}
.head {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 2rem;
}
.i-button {
    width: 4rem;
    height: 2rem;
    background-color: var(--dsm-bg-color-primary);
    color: white;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    transition: background-color 0.25s;
}
.i-button:hover {
    background-color: crimson;
    cursor: pointer;
}
.n-user,
.e-user {
    margin: 1rem;
    font-weight: bold;
    color: var(--dsm-bg-color-primary);
}
.container-img {
    position: relative;
    float: right;
    border: 1px solid var(--dsm-bg-color-primary);
}
.perfil-img {
    width: 250px;
}

.text-black {
    color: black;
    font-style: italic;
    font-weight: normal;
}
/* Media Queries para Responsividade */

/* Dispositivos pequenos (smartphones em modo retrato e paisagem) */
@media (max-width: 600px) {
    .p-container {
        margin: 1rem;
    }
    .info-perfil,
    .info-senha {
        margin: 1rem;
    }
    .i-perfil {
        width: 100%;
    }
    .head {
        padding-bottom: 1rem;
    }
    .i-button {
        width: 100%;
        height: 3rem;
        font-size: 1rem;
    }
    .n-user,
    .e-user {
        margin: 0.5rem;
        font-size: 1rem;
    }
    .perfil-img {
        width: 4rem;
    }
}
/* Dispositivos médios (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
    .p-container {
        margin: 2rem;
    }
    .info-perfil,
    .info-senha {
        margin: 1.5rem;
    }
    .i-perfil {
        width: 70%;
    }
    .head {
        padding-bottom: 1.5rem;
    }
    .i-button {
        width: 6rem;
        height: 2.5rem;
        font-size: 1rem;
    }
    .n-user,
    .e-user {
        margin: 1rem;
        font-size: 1.2rem;
    }

    .container-img {
        margin: 1rem;
        margin-top: -2rem;
    }

    .perfil-img {
        width: 150px;
    }
}

/* Dispositivos grandes (desktops) */
@media (min-width: 1025px) {
    .p-container {
        margin: 4rem;
    }
    .info-perfil,
    .info-senha {
        margin: 2rem;
    }
    .i-perfil {
        width: 35%;
    }
    .head {
        padding-bottom: 2rem;
    }
    .i-button {
        width: 4rem;
        height: 2rem;
        font-size: 1rem;
    }
    .n-user,
    .e-user {
        margin: 1rem;
        font-size: 1.2rem;
    }
}
