@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --dsm-bg-color-primary: #b2000b;
  --dsm-bg-color-secondary: #fff;
  --dsm-bg-color-tertiary: #d9d9d97e;
  --dsm-bg-color-quaternary: #d9d9d9;
  --dsm-bg-color-quinary: #b9b9b9;
  --dsm-bg-color-senary: #f9f9f9;
  --dsm-bg-color-septenary: #00B12C;
  --dsm-bg-color-octonary: #909090;

  --dsm-font-color-primary: #FFF;
  --dsm-font-color-secundary: #000;
  --dsm-font-color-tertiary: #b2000b;
  --dsm-font-color-quaternary: #ff0011;
  --dsm-font-color-quinary: #7d7d7d;

  --dsm-scroll-color-primary: rgb(241, 241, 241);
  --dsm-scroll-color-secundary: rgb(193, 193, 193);

  --dsm-border-color-primary: #000;
  --dsm-border-color-secundary: #b2000b;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

a {
  color: var(--dsm-bg-color-secondary);
}


body {
  --sb-track-color: var(--dsm-scroll-color-primary);
  --sb-thumb-color: var(--dsm-scroll-color-secundary);
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.logo-container img {
  width: 60px;
  height: 60px;
}

.generic-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

